/* Slide.css */

/* Define styles for stars */
.star {
     /* Adjust the size of the stars */
    color: #ccc; /* Default color for empty stars */
  }
  
  .full-star {
    color: yellow; /* Color for full stars */
  }
  
  .half-star {
    display: inline-block;
    position: relative;
    /* width: 1em; Adjust width as needed */
    font-size: inherit;
    color: transparent; /* Make the star transparent */
  }
  
  .half-star:before {
    content: '\2605'; /* Unicode character for a star */
    position: absolute;
    left: 0;
    /* overflow: hidden; */
    /* width: 1rem;     */
    background-image: linear-gradient(to right, yellow 50%, #ccc 50%);
    -webkit-background-clip: text;
    background-clip: text;
  }
  
  .empty-star {
    color: #ccc; /* Color for empty stars */
  }
  #comments::-webkit-scrollbar {
    width: 18px; /* Width of the scrollbar */
  }

  #comments::-webkit-scrollbar-track {
    background: #000; /* Color of the track */
    border-radius: 50px; /* Rounded corners */
  }

  #comments::-webkit-scrollbar-thumb {
    background-color: #9c6fe4; /* Color of the thumb */
    border-radius: 10px; /* Rounded corners */

  }

  #comments::-webkit-scrollbar-thumb:hover {
    background-color: #af8cea; /* Lighter color on hover */
  }